:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes fade-pop {
  from {
    opacity: 0;
    transform: translateY(0px) scale(1);
  }
  to {
    opacity: 1;
    transform: translateY(-50px) scale(1);
  }
}

.animate-fade-pop {
  animation: fade-pop 0.3s ease-out forwards;
}
